p {
    .titulo {
        color: red; 
        text-align:center;
        font-size: 20px;
         font-weight:bold; 
        background-color:#ffffff;
        padding: 10px 0; 
        margin: 0;
    }
    .subtitulo{
         color: white;
         text-align: center;
         font-size: 20px;
         background-color: #252525;
         padding: 10px 0;
         margin: 0;
    }
}