.card {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  text-align: center;
  box-shadow: 5px 5px 5px red;
}
